@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/shared/_Layout.cshtml.css">
</head>

<div class="text-center">
    <h1 class="display-4">Off Day Calculator</h1>
</div>
<body>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <label for="userInput"><strong>Enter a work year (starts January 5th):</strong></label>
                    </div>
                    <p></p>
                    <div style="margin: auto; text-align: center;">
                        <input type="number" id="userInput" name="userInput" min="1" />
                        <button type="submit" id="submitButton" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <div>
                    <p class="text-center">
                        Weekday Off Days For Each of the Following Holidays:
                    </p>
                    <ul>
                        @foreach (string offDay in Model.Result)
                        {
                            <li>@offDay</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>